@import url('https://fonts.cdnfonts.com/css/chinese-rocks');
@import url('https://fonts.cdnfonts.com/css/sf-speakeasy-2');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://ufonts.com/fonts/toronto-gothic.html');

body {
    font-family: 'Chinese Rocks Rg', sans-serif;
    font-weight: 500;
    background-color: #000;
    color: #fff;
    font-size: 1.2rem;                                            
}

header {
    width: 1200px;
    max-width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

header nav{
    display: flex;
    gap: 2rem;
    margin-left: 50px;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1rem;
}

/* slider */
.slider {
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.item{
    position: absolute;
    inset: 0 0 0 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.detail {
    position: absolute;
    width: 1200px;
    max-width: 80%;
    margin: auto;
    top: 7%;
    margin-left: 50px;
}

.title{
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 80px;
    text-shadow: 
        10px 10px 0 #000, 
       -10px -10px 0 #000,  
        10px -10px 0 #000,  
       -10px  10px 0 #000,  
        10px  10px 0 #000,  
       -10px -10px 0 #000,  
        10px -10px 0 #000,  
       -10px  10px 0 #000,  
        10px  0px 0 #000,  
       -10px  0px 0 #000,  
        0px  10px 0 #000,  
        0px -10px 0 #000,  
        7px 7px 0 #000, 
       -7px -7px 0 #000,  
        7px -7px 0 #000,  
       -7px  7px 0 #000,  
        7px  7px 0 #000,  
       -7px -7px 0 #000,  
        7px -7px 0 #000,  
       -7px  7px 0 #000,  
        7px  0px 0 #000,  
       -7px  0px 0 #000,  
        0px  7px 0 #000,  
        0px -7px 0 #000; 
}    
h1 {
    font-size: 180px;
    position: absolute;
    margin-left: 31%;
    top: -29px;
    font-family: 'SF Speakeasy', sans-serif;
    letter-spacing: 0px;
    color:#FE0000;
    text-shadow: 
        10px 10px 0 #000, 
       -10px -10px 0 #000,  
        10px -10px 0 #000,  
       -10px  10px 0 #000,  
        10px  10px 0 #000,  
       -10px -10px 0 #000,  
        10px -10px 0 #000,  
       -10px  10px 0 #000,  
        10px  0px 0 #000,  
       -10px  0px 0 #000,  
        0px  10px 0 #000,  
        0px -10px 0 #000,  
        7px 7px 0 #000, 
       -7px -7px 0 #000,  
        7px -7px 0 #000,  
       -7px  7px 0 #000,  
        7px  7px 0 #000,  
       -7px -7px 0 #000,  
        7px -7px 0 #000,  
       -7px  7px 0 #000,  
        7px  0px 0 #000,  
       -7px  0px 0 #000,  
        0px  7px 0 #000,  
        0px -7px 0 #000;
}

.name {
    border-radius: 5px;
    text-align: center;
    width: 500px;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 50px;
    background-color: #000;
    padding: 5px;
    color: #fff;
}


.desc {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 600;
    font-family: 'TorontoGothic', sans-serif;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 30px;
}

q.quote i {
    font-size: 40px;
    width: 600px;
}

.more {
    font-size: 24px;
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

.more:hover {
    color: #000;
    background-color: #FE0000;
    transition: 0.75s;
}

/* thumbnail */

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 70%;
    width: max-content;
    display: flex;
    gap: 20px;
    z-index: 999;
}

.item-tmb {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.img-tmb {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: right center;
}

.detail-tmb{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.name-tmb {
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #000;
    color: #fff;
}

.arrows {
    position: absolute;
    top: 87%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    align-items: center;
    gap: 10px;
}

button {
    font-weight: 900;
    font-size: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-family: monospace;
    background: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 100;
    transition: 0.75s;
}

.arrows button:hover {
    color: #000;
}